<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img width="64" height="64" src="https://img.icons8.com/laces/64/40C057/k.png" alt="k"/>
    <a class="navbar-brand" href="#">Konature</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex" role="search" style="margin-left: 800px;">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 40px;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLink]="['/user-login']"><img width="40" height="40" src="https://img.icons8.com/ios/50/40C057/user-male-circle--v1.png" alt="user-male-circle--v1"/>
          </a></li>
        <li class="nav-item">
          <a href="#"><img width="40" height="40" src="https://img.icons8.com/pastel-glyph/64/40C057/place-marker--v1.png" alt="place-marker--v1"/>
          </a>
        </li>
        <li class="nav-item">
          <a href="#"> <img width="40" height="40" src="https://img.icons8.com/dotty/80/40C057/shopping-cart.png" alt="shopping-cart"/></a>
        </li>
        <li class="nav-item">
          <a href="#"><img width="40" height="40" src="https://img.icons8.com/ios/50/40C057/whatsapp--v1.png" alt="whatsapp--v1"/></a>
        </li>
      </ul>

    </div>
  </div>
</nav>
