<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..\assets\dw1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="heading">First slide label</h5>
        <p class="description">Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="..\assets\dw2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="heading">Second slide label</h5>
        <p class="description">Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="..\assets\dw3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="heading">Third slide label</h5>
        <p class="description">Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br>
<hr>
<div>
  <h2 style="text-align: center;">Shop By Categories</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 20px;">
    <div class="col">
      <a href="" class="a-tag">
      <div class="card h-100">
        <img src="../assets/cashew.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cashew</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      </a>
    </div>
    <div class="col">
      <a href="" class="a-tag">
      <div class="card h-100">
        <img src="../assets/almonds.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a short card.</p>
        </div>
      </div>
    </a>
    </div>
    <div class="col">
      <a href="" class="a-tag">
      <div class="card h-100">
        <img src="../assets/pista.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </a>
    </div>
    <div class="col">
      <a href="" class="a-tag">
      <div class="card h-100">
        <img src="../assets/diwali.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diwali pack</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </a>
    </div>
  </div>
</div><br>

<div>
  <h2 style="text-align: center;">Populor Choices</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 20px;">
    <div class="col">
      <a href="" class="a-tag">
      <div class="card h-100">
        <img src="../assets/ads.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mix</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      </a>
    </div>
    <div class="col">
      <a href="" class="a-tag">
      <div class="card h-100">
        <img src="../assets/ads2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ALL Mix</h5>
          <p class="card-text">This is a short card.</p>
        </div>
      </div>
    </a>
    </div>
    <div class="col">
      <a href="" class="a-tag">
      <div class="card h-100">
        <img src="../assets/ads3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Healthy snack</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>

